@media (max-width:500px){
.uppersection{
    width: 450px;
}
.rating{
    font-size: 16px;
}
.hotelname{
    font-size: 20px;
}
.Gym{
    margin-bottom: 15px;
}
.money{
    font-size: 20px;
}
}